@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");


.top {
 border: 0px solid red;
 display: flex;
 width: 88%;
 margin: 0px auto;
}
.slide {
 cursor: pointer;
}
.sliding {
 padding: 20px 0px;
 width: 80%;
 margin: 0px 20px 0px 0px;
}
.stat20 {
 margin: 20px 0px;
 width: 25%;
 cursor: pointer;
}

.stat20 > img {
 height: 100%;
 object-fit: cover;
}

.ads {
 width: 88%;
 margin: auto;
 cursor: pointer;
}

.room {
 width: 88%;
 margin: auto;
}

.room_card {
 display: flex;
 justify-content: space-between;
 margin: 20px;
}

.room > h2 {
 margin: 20px auto;
 font-size: 32px;
 font-family: "Playfair Display", serif;
 font-weight: 700;
}

.room_card > div {
 width: 24%;
 padding: 10px;
 border: 3px solid white;
 transition: all 0.5s;
}
.room_card > div > p {
 font-size: 20px;
 font-weight: 400;
 margin: 10px 0px;
}

.room_card > div:hover {
 cursor: pointer;
 padding: 10px;
 border: 3px solid #ff7035;
}

.deal {
 width: 88%;
 margin: auto;
}

.deal_card {
 display: flex;
 justify-content: space-between;
 margin: 20px;
 text-align: left;
}

.deal > h2 {
 width: 24%;
 margin: 10px 20px;
 font-size: 32px;
 font-family: "Playfair Display", serif;
 font-weight: 700;
}

.deal_card > div {
 width: 24%;
 padding: 10px;
 border: 3px solid white;
 transition: all 0.5s;
}
.deal_card > div > h4 {
 font-size: 20px;
 font-weight: 500;
 margin: 10px 0px;
 font-family: "Manrope", sans-serif;
}
.deal_card > div > p {
 color: rgba(159, 159, 159, 0.929);
}

.deal_card > div:hover {
 cursor: pointer;
 padding: 10px;
 border: 3px solid #ff7035;
}

.stat21 {
 width: 85%;
 margin: auto;
}

.insta_card {
 width: 87%;
 margin: 20px auto;
}

.insta_card > h2 {
 text-align: left;
 margin: 10px 10px;
 font-size: 32px;
 font-family: "Playfair Display", serif;
 font-weight: 700;
}


.trend {
 width: 88%;
 margin: auto;
}

.trend_card {
 display: flex;
 justify-content: space-between;
 margin: 20px;
 text-align: left;
}

.trend > h2 {
 text-align: left;
 margin: 10px 20px;
 font-size: 32px;
 font-family: "Playfair Display", serif;
 font-weight: 700;
}

.trend_card > div {
 width: 39%;
 padding: 10px;
 border: 3px solid white;
 transition: all 0.5s;
}
.trend_card > div > h4 {
 font-size: 20px;
 font-weight: 500;
 margin: 10px 0px;
 font-family: "Manrope", sans-serif;
}
.trend_card > div > p {
 color: rgba(159, 159, 159, 0.929);
}

.trend_card > div:hover {
 cursor: pointer;
 padding: 10px;
 border: 3px solid #ff7035;
}